<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://omics.zihan.design">Online compiler -- Omics</a></strong><br />
			- Description: an online compiler for biologist.
			<li> Design and implement the basic syntax.
			<li> Add some structure about biology.
			<li> Integrate some tools into the compiler.
			<li> Implemented by python3.
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://pathway.zihan.design">KEGG Network</a></strong><br />
			- Description: A platform shows KEGG pathway and it supports users to search che network. 
			<li>Developed a platform to show KEGG pathway and search the network.
			<li>Built a databases about KEGG, users could search gene and its pathways.
			<li>Users could search genes and get the related information.
		</h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SnakeShawn/nkuedu">Elective System for Senior High School Student of Nankai University</a></strong><br />
			- Description: A Course Selection System for senior high school students who want to study as a guest student in Nankai University.
			<li>I was the project leader(4 members) and in charge of the system design.
			<li>I developed all the web pages and the management part(Teacher's side, the other part is student's side).
			<li><a href="https://github.com/SnakeShawn/nkuedu">Source code</a>.
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://print.yunyin.org">Cloud Print of Nankai University</a></strong><br />
			- Description: It's an open source project which lead by several university students. The projects intends to provide a platform for university students to print their materials conveniently.
			<li>Developed by PHP with ThinkPHP.
			<li>I developed the background management of the system.
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">"Challenge Cup"-- Established An Jie intelligent express Co. Ltd.</a></strong><br />
			- This project won the reward of Nankai University.I was in charge of the technical part as well as the overall market analysis and financial forecast.
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">File－Sharing software (P2P)</a></strong><br />
			<li> It was developed by C++ in C/S model based on the flooding attack. 
			<li> I designed the file list and developed the related function.
		</h4>
    	<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SnakeShawn/QMaze">Maze Game -- "Tomb Adventure"</a></strong><br />
			- Description: It's an Maze game based on a famous Novel named "Daomu".
			<li> Developed by C++ with Qt-creator.
			<li> I designed the game myself and implemented it with another partner.
		</h4>
    </div>
  </div>
</div>
</section>
