<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SnakeShawn/nkuedu">Elective System for Senior High School Student of Nankai University</a></strong><br />
			- Description.
			<>
			<li>I was the project leader(4 members) and in charge of the system design.
			<li>I developed all the web pages and the management part(Teacher's side, the other part is student's side).
			<li>I rebuilt this project with other frameworks(SpringMVC, Spring, Mybatis), the source code is <a href="https://github.com/SnakeShawn/nkuedu">here</a>.
		</h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SnakeShawn/print">Cloud Print of Nankai University</a></strong><br />
			<li>Developed by PHP with ThinkPHP.
			<li>I developed the background management of the system.
		</h4>
    	<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SnakeShawn/QMaze">Maze Game -- "Tomb Adventure"</a></strong><br />
			- It's a maze game developed by Qt-creator. The language is C++.The introduction and operational approach are described in the rule.
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">"Challenge Cup"-- Established An Jie intelligent express Co. Ltd.</a></strong><br />
			- This project won the reward of Nankai University.I was in charge of the technical part as well as the overall market analysis and financial forecast.
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">File－Sharing software (P2P)</a></strong><br />
			- It was developed by C++ in C/S model based on the flooding attack. I designed the file list and developed the related function.
		</h4>
		<h4>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Library Management System</a></strong><br />
			- Just a J2EE exercise project, it's my first Java web project.
		</h4>
    </div>
  </div>
</div>
</section>
